<!DOCTYPE html>
<html>
<head>
  <title>Client1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
 		<h2><%= link_to root_path do%> Sasha's App1 <% end %> </h2>
    </div>

    <div class="collapse navbar-collapse" >
    	<ul class="nav navbar-nav navbar-right">
    		<% if @current_user %>
    			<li>Signed in as: <%= @auth['info']['name'] %> <%= image_tag(@auth['info']['image'], width: '70', height: '70', class: 'img-circle') %> </li> 
    			<li><%= link_to 'Logout', logout_path, method: :delete %></li>
    		<% else %>
    			<li>Sign in with:   <span> <%= link_to "auth/facebook" do %><%= image_tag('facebook.png', width: '50', height: '50', class: 'img-circle') %> <% end %></span></li>
    		<% end %>
		</ul>
    </div>
  </div>
</nav>

<div id="main_content" class="container">
	<% flash.each do |name, msg| %>
		<%= content_tag(:div, msg, class: "alert alert-info") %>
	<% end %>

		<div id="content" class="col-md-9 center-block">
			<%= yield %>
		</div>
	</div>
</div>

</body>
</html>
